### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
purchase_data['SN'].value_counts()

Lisosia93         5
Iral74            4
Idastidru52       4
Lassilsala30      3
Ilarin91          3
Phaena87          3
Saistyphos30      3
Asur53            3
Inguron55         3
Saedaiphos46      3
Chanastnya43      3
Hiaral50          3
Yathecal82        3
Ialallo29         3
Lisopela58        3
Zontibe81         3
Aelin32           3
Chadolyla44       3
Rarallo90         3
Lisim78           3
Phyali88          3
Siallylis44       3
Hada39            3
Chamjask73        3
Aina42            3
Haillyrgue51      3
Umolrian85        3
Tyisur83          3
Pheodaisun84      3
Iskadarya95       3
                 ..
Liawista80        1
Haerith37         1
Tyananurgue44     1
Aidain51          1
Chadjask77        1
Eudanu84          1
Undimsya85        1
Aellyria80        1
Heollyriap59      1
Aiduesu86         1
Maradaran90       1
Eulae84           1
Alaesu91          1
Shaidanu32        1
Raisty38          1
Frichadar89       1
Assjaskan73       1
Frichaya88        1
Tyaelo67          1
Minduri31         1
Yarithllodeu72    1
Ristydru66        1
Irithlis29        1
Chanosia34        1
Chamadarnya73     1
Yasrisu92         1
Filurarn35        1
Yastyriaphos75    1
Ilassast39        1
Ethralista69      1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_data['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Fiery Glass Crusader                             9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Shadow Strike, Glory of Ending Hope              8
Winter's Bite                                    8
Singed Scalpel                                   8
Brutality Ivory Warmace                          8
Wolf                                             8
Retribution Axe                                  8
Lightning, Etcher of the King                    8
Pursuit, Cudgel of Necromancy                    8
Suspension                                       7
Thorn, Satchel of Dark Souls                     7
Oathbreaker, Spellblade of Trials                7
Exiled Doomblade                                 7
Vengeance Cleaver                                7
Heartstriker, Legacy of the Light                7
Demise                                           7
Glimmer, Ender of the Moon                       7
Malificent Bag                                   7
Ghastly Adamantite Protector                     6
Dawne                                            6
Azurewrath                                       6
Fate, Vengeance of Eternal Justice               6
Blood-Forged Skeletal Spine                      6
Verdict                                          6
Blood Infused Guardian                           6
                                                ..
Winterthorn, Defender of Shifting Worlds         2
Foul Edge                                        2
Rage, Legacy of the Lone Victor                  2
Curved Axe                                       2
Foul Titanium Battle Axe                         2
Darkheart, Butcher of the Champion               2
Trickster                                        2
Relentless Iron Skewer                           2
Unholy Wand                                      2
Possessed Core                                   2
Spectral Diamond Doomblade                       2
Rusty Skull                                      2
Torchlight, Bond of Storms                       2
Frenzy, Defender of the Harvest                  2
Heartseeker, Reaver of Souls                     2
Dreamkiss                                        2
Stormfury Longsword                              2
Whistling Mithril Warblade                       2
Stormfury Mace                                   2
Sun Strike, Jaws of Twisted Visions              2
The Decapitator                                  1
Endbringer                                       1
Exiled Mithril Longsword                         1
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
Undead Crusader                                  1
Alpha, Reach of Ending Hope                      1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [14]:
purchase_data['Price'].mean()

3.050987179487176

In [13]:
purchase_data['Purchase ID'].count()

780

In [16]:
purchase_data['Price'].sum()

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
purchase_data['Gender'].value_counts(normalize=True) * 100

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
purchase_count = purchase_data.groupby('Gender')['Purchase ID'].nunique()
average_price = purchase_data.groupby('Gender')['Price'].mean()
total_value = purchase_data.groupby('Gender')['Price'].sum()
average_perperson = purchase_data.groupby('Gender').mean()

print(purchase_count)
print(average_price)
print(total_value)
print(average_perperson)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [46]:
age_bin = purchase_data.groupby('Age').count()

print(age_bin)

     Purchase ID  SN  Gender  Item ID  Item Name  Price
Age
7              9   9       9        9          9      9
8              8   8       8        8          8      8
9              6   6       6        6          6      6
10             9   9       9        9          9      9
11             7   7       7        7          7      7
12             6   6       6        6          6      6
13             4   4       4        4          4      4
14             2   2       2        2          2      2
15            35  35      35       35         35     35
16            30  30      30       30         30     30
17            22  22      22       22         22     22
18            26  26      26       26         26     26
19            23  23      23       23         23     23
20            99  99      99       99         99     99
21            62  62      62       62         62     62
22            70  70      70       70         70     70
23            67  67      67       67         67     67
24            67  67      67       67         67     67
25            59  59      59       59         59     59
26            14  14      14       14         14     14
27            10  10      10       10         10     10
28             5   5       5        5          5      5
29            13  13      13       13         13     13
30            35  35      35       35         35     35
31             7   7       7        7          7      7
32             8   8       8        8          8      8
33            14  14      14       14         14     14
34             9   9       9        9          9      9
35            14  14      14       14         14     14
36             5   5       5        5          5      5
37             7   7       7        7          7      7
38             9   9       9        9          9      9
39             6   6       6        6          6      6
40             6   6       6        6          6      6
41             2   2       2        2          2      2
42             1   1       1        1          1      1
43             1   1       1        1          1      1
44             2   2       2        2          2      2
45             1   1       1        1          1      1

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80