### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
purchase_data['SN'].value_counts()

Lisosia93         5
Iral74            4
Idastidru52       4
Lassilsala30      3
Ilarin91          3
Phaena87          3
Saistyphos30      3
Asur53            3
Inguron55         3
Saedaiphos46      3
Chanastnya43      3
Hiaral50          3
Yathecal82        3
Ialallo29         3
Lisopela58        3
Zontibe81         3
Aelin32           3
Chadolyla44       3
Rarallo90         3
Lisim78           3
Phyali88          3
Siallylis44       3
Hada39            3
Chamjask73        3
Aina42            3
Haillyrgue51      3
Umolrian85        3
Tyisur83          3
Pheodaisun84      3
Iskadarya95       3
                 ..
Liawista80        1
Haerith37         1
Tyananurgue44     1
Aidain51          1
Chadjask77        1
Eudanu84          1
Undimsya85        1
Aellyria80        1
Heollyriap59      1
Aiduesu86         1
Maradaran90       1
Eulae84           1
Alaesu91          1
Shaidanu32        1
Raisty38          1
Frichadar89       1
Assjaskan73       1
Frichaya88        1
Tyaelo67          1
Minduri31         1
Yarithllodeu72    1
Ristydru66        1
Irithlis29        1
Chanosia34        1
Chamadarnya73     1
Yasrisu92         1
Filurarn35        1
Yastyriaphos75    1
Ilassast39        1
Ethralista69      1
Name: SN, Length: 576, dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_data['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Fiery Glass Crusader                             9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Shadow Strike, Glory of Ending Hope              8
Winter's Bite                                    8
Singed Scalpel                                   8
Brutality Ivory Warmace                          8
Wolf                                             8
Retribution Axe                                  8
Lightning, Etcher of the King                    8
Pursuit, Cudgel of Necromancy                    8
Suspension                                       7
Thorn, Satchel of Dark Souls                     7
Oathbreaker, Spellblade of Trials                7
Exiled Doomblade                                 7
Vengeance Cleaver                                7
Heartstriker, Legacy of the Light                7
Demise                                           7
Glimmer, Ender of the Moon                       7
Malificent Bag                                   7
Ghastly Adamantite Protector                     6
Dawne                                            6
Azurewrath                                       6
Fate, Vengeance of Eternal Justice               6
Blood-Forged Skeletal Spine                      6
Verdict                                          6
Blood Infused Guardian                           6
                                                ..
Winterthorn, Defender of Shifting Worlds         2
Foul Edge                                        2
Rage, Legacy of the Lone Victor                  2
Curved Axe                                       2
Foul Titanium Battle Axe                         2
Darkheart, Butcher of the Champion               2
Trickster                                        2
Relentless Iron Skewer                           2
Unholy Wand                                      2
Possessed Core                                   2
Spectral Diamond Doomblade                       2
Rusty Skull                                      2
Torchlight, Bond of Storms                       2
Frenzy, Defender of the Harvest                  2
Heartseeker, Reaver of Souls                     2
Dreamkiss                                        2
Stormfury Longsword                              2
Whistling Mithril Warblade                       2
Stormfury Mace                                   2
Sun Strike, Jaws of Twisted Visions              2
The Decapitator                                  1
Endbringer                                       1
Exiled Mithril Longsword                         1
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
Undead Crusader                                  1
Alpha, Reach of Ending Hope                      1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [14]:
purchase_data['Price'].mean()

3.050987179487176

In [13]:
purchase_data['Purchase ID'].count()

780

In [16]:
purchase_data['Price'].sum()

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
purchase_data['Gender'].value_counts(normalize=True) * 100

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_count = purchase_data.groupby('Gender')['Purchase ID'].nunique()
average_price = purchase_data.groupby('Gender')['Price'].mean()
total_value = purchase_data.groupby('Gender')['Price'].sum()
average_perperson = purchase_data.groupby('Gender').mean()

print(purchase_count)
print(average_price)
print(total_value)
print(average_perperson)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
df = purchase_data = pd.read_csv(file_to_load)
bins = pd.cut(df['Age'], [0, 10, 14, 19, 24, 29, 34, 39, 100])
df.groupby(bins)['Age'].agg(['count', 'sum'])

           count   sum
Age
(0, 10]       32   271
(10, 14]      19   229
(14, 19]     136  2284
(19, 24]     365  7971
(24, 29]     101  2626
(29, 34]      73  2291
(34, 39]      41  1505
(39, 100]     13   540

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
SN_count = df.SN.value_counts()
SN_Price = purchase_data.groupby('SN')['Price'].mean()
SN_Total = purchase_data.groupby('SN')['Price'].sum()
SN_count.head()
print(SN_Price)
print(SN_Total)

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Name: Price, Length: 576, dtype: float64
SN
Adairialis76       2.28
Adastirin33        4.48
Aeda94             4.91
Aela59             4.32
Aelaria33          1.79
Aelastirin39       7.29
Aelidru27          1.09
Aelin32            8.98
Aelly27            6.79
Aellynun67         3.74
Aellyria80         3.08
Aelollo59          5.63
Aenarap34          2.96
Aeral43            4.40
Aeral68            4.00
Aeral97            4.80
Aeralria27         4.09
Aeralstical35      2.96
Aeri84             1.61
Aerillorin70       3.33
Aerithllora36      8.64
Aerithnucal56      4.40
Aerithnuphos61     4.91
Aerithriaphos45    1.56
Aerithriaphos46    2.18
Aesri53            1.76
Aesty53            3.91
Aestysu37          5.38
Aesur96            2.21
Aesurstilis64      1.03
                   ...
Undosia27          3.77
Undosian34         8.30
Undotesta33        4.74
Wailin72           2.73
Yadacal26          6.54
Yadaisuir65        4.09
Yadam35            2.48
Yadanu52           2.38
Yadaphos40         5.35
Yalae81            6.69
Yalaeria91         1.06
Yaliru88           3.03
Yalo85             3.65
Yalostiphos68      4.40
Yana46             3.55
Yarithllodeu72     3.75
Yarithrgue83       3.45
Yarithrin84        4.14
Yarithsurgue62     4.94
Yarolwen77         4.43
Yasrisu92          3.44
Yastyriaphos75     4.75
Yasur35            4.48
Yasur85            1.10
Yathecal72         3.46
Yathecal82         6.22
Yathedeu43         6.02
Yoishirrala98      4.58
Zhisrisu83         7.89
Zontibe81          8.03
Name: Price, Length: 576, dtype: float64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [63]:
purchase_ID = purchase_data.groupby('Item Name')['Item ID'].count()
Item_price = purchase_data.groupby('Item Name')['Price'].value_counts()
Total_Value = purchase_ID*Item_price
purchase_ID.head()
print(Item_price, Total_Value)

Item Name                                 Price
Abyssal Shard                             2.67     5
Aetherius, Boon of the Blessed            3.39     5
Agatha                                    3.08     6
Alpha                                     2.07     3
Alpha, Oath of Zeal                       4.05     3
Alpha, Reach of Ending Hope               3.58     1
Amnesia                                   2.18     6
Apocalyptic Battlescythe                  1.97     6
Arcane Gem                                3.79     3
Avenger                                   3.44     6
Azurewrath                                4.40     6
Betrayal, Whisper of Grieving Widows      3.94     5
Betrayer                                  2.94     1
Blade of the Grave                        3.14     4
Blazefury, Protector of Delusions         4.64     3
Blazeguard, Reach of Eternity             4.91     5
Blindscythe                               3.27     5
Blood Infused Guardian                    1.94     6
Blood-Forged Skeletal Spine               3.09     6
Bloodlord's Fetish                        1.70     5
Bone Crushing Silver Skewer               4.86     4
Bonecarvin Battle Axe                     2.38     5
Brimstone                                 3.65     5
Brutality Ivory Warmace                   2.42     8
Celeste                                   4.17     1
Celeste, Incarnation of the Corrupted     3.46     4
Chaos, Ender of the End                   1.98     5
Conqueror Adamantite Mace                 4.24     5
Crucifer                                  3.26     3
                                          1.99     1
                                                  ..
Thorn, Conqueror of the Corrupted         2.73     4
Thorn, Satchel of Dark Souls              1.33     7
Thunderfury Scimitar                      3.45     5
Toothpick                                 4.03     3
Torchlight, Bond of Storms                4.65     2
Tranquility, Razor of Black Magic         1.75     5
Trickster                                 1.55     2
Twilight's Carver                         2.28     4
Undead Crusader                           4.50     1
Unending Tyranny                          2.85     3
Unholy Wand                               1.12     2
Vengeance Cleaver                         2.05     7
Venom Claymore                            1.29     4
Verdict                                   2.48     6
Victor Iron Spikes                        4.40     4
Vindictive Glass Edge                     2.27     3
War-Forged Gold Deflector                 1.01     5
Warmonger, Gift of Suffering's End        4.03     3
Warped Diamond Crusader                   1.40     3
Warped Fetish                             3.81     5
Warped Iron Scimitar                      3.10     5
Whistling Mithril Warblade                1.00     2
Winter's Bite                             3.77     8
Winterthorn, Defender of Shifting Worlds  2.08     2
Woeful Adamantite Claymore                4.48     3
Wolf                                      3.54     8
Wolf, Promise of the Moonwalker           4.48     6
Worldbreaker                              2.60     4
Yearning Crusher                          4.18     3
Yearning Mageblade                        3.82     5
Name: Price, Length: 183, dtype: int64 Item Name                                 Price
Abyssal Shard                             2.67     25
Aetherius, Boon of the Blessed            3.39     25
Agatha                                    3.08     36
Alpha                                     2.07      9
Alpha, Oath of Zeal                       4.05      9
Alpha, Reach of Ending Hope               3.58      1
Amnesia                                   2.18     36
Apocalyptic Battlescythe                  1.97     36
Arcane Gem                                3.79      9
Avenger                                   3.44     36
Azurewrath                                4.40     36
Betrayal, Whisper of Grieving Widows      3.94     25
Betrayer                                  2.94      1
Blade of the Grave                        3.14     16
Blazefury, Protector of Delusions         4.64      9
Blazeguard, Reach of Eternity             4.91     25
Blindscythe                               3.27     25
Blood Infused Guardian                    1.94     36
Blood-Forged Skeletal Spine               3.09     36
Bloodlord's Fetish                        1.70     25
Bone Crushing Silver Skewer               4.86     16
Bonecarvin Battle Axe                     2.38     25
Brimstone                                 3.65     25
Brutality Ivory Warmace                   2.42     64
Celeste                                   4.17      1
Celeste, Incarnation of the Corrupted     3.46     16
Chaos, Ender of the End                   1.98     25
Conqueror Adamantite Mace                 4.24     25
Crucifer                                  3.26     12
                                          1.99      4
                                                   ..
Thorn, Conqueror of the Corrupted         2.73     16
Thorn, Satchel of Dark Souls              1.33     49
Thunderfury Scimitar                      3.45     25
Toothpick                                 4.03      9
Torchlight, Bond of Storms                4.65      4
Tranquility, Razor of Black Magic         1.75     25
Trickster                                 1.55      4
Twilight's Carver                         2.28     16
Undead Crusader                           4.50      1
Unending Tyranny                          2.85      9
Unholy Wand                               1.12      4
Vengeance Cleaver                         2.05     49
Venom Claymore                            1.29     16
Verdict                                   2.48     36
Victor Iron Spikes                        4.40     16
Vindictive Glass Edge                     2.27      9
War-Forged Gold Deflector                 1.01     25
Warmonger, Gift of Suffering's End        4.03      9
Warped Diamond Crusader                   1.40      9
Warped Fetish                             3.81     25
Warped Iron Scimitar                      3.10     25
Whistling Mithril Warblade                1.00      4
Winter's Bite                             3.77     64
Winterthorn, Defender of Shifting Worlds  2.08      4
Woeful Adamantite Claymore                4.48      9
Wolf                                      3.54     64
Wolf, Promise of the Moonwalker           4.48     36
Worldbreaker                              2.60     16
Yearning Crusher                          4.18      9
Yearning Mageblade                        3.82     25
Length: 183, dtype: int64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [65]:
purchase_ID.sort_values(ascending=False)

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Singed Scalpel                                   8
Lightning, Etcher of the King                    8
Brutality Ivory Warmace                          8
Retribution Axe                                  8
Winter's Bite                                    8
Shadow Strike, Glory of Ending Hope              8
Wolf                                             8
Pursuit, Cudgel of Necromancy                    8
Glimmer, Ender of the Moon                       7
Thorn, Satchel of Dark Souls                     7
Heartstriker, Legacy of the Light                7
Exiled Doomblade                                 7
Demise                                           7
Vengeance Cleaver                                7
Malificent Bag                                   7
Oathbreaker, Spellblade of Trials                7
Suspension                                       7
Frenzied Scimitar                                6
Fate, Vengeance of Eternal Justice               6
Ghastly Adamantite Protector                     6
Eternal Cleaver                                  6
Hero Cane                                        6
Phantomlight                                     6
Amnesia                                          6
                                                ..
Flux, Destroyer of Due Diligence                 2
Relentless Iron Skewer                           2
Heartseeker, Reaver of Souls                     2
Winterthorn, Defender of Shifting Worlds         2
Whistling Mithril Warblade                       2
Spectral Diamond Doomblade                       2
Dreamkiss                                        2
Frenzy, Defender of the Harvest                  2
Rage, Legacy of the Lone Victor                  2
Foul Titanium Battle Axe                         2
Rusty Skull                                      2
Foul Edge                                        2
Stormfury Longsword                              2
Possessed Core                                   2
Curved Axe                                       2
Trickster                                        2
Torchlight, Bond of Storms                       2
Stormfury Mace                                   2
Sun Strike, Jaws of Twisted Visions              2
Unholy Wand                                      2
Celeste                                          1
Betrayer                                         1
Riddle, Tribute of Ended Dreams                  1
Undead Crusader                                  1
Endbringer                                       1
Alpha, Reach of Ending Hope                      1
Ghost Reaver, Longsword of Magic                 1
Gladiator's Glaive                               1
The Decapitator                                  1
Exiled Mithril Longsword                         1
Name: Item ID, Length: 179, dtype: int64